header.navbar {
	.sidebar-button {
		top: 0.8rem;
		color: white;
	}

	.nav-item a, .repo-link, .dropdown-wrapper .dropdown-title {
		color: #9D9D9D;

		&:hover, &.router-link-active {
			color: white;
		}

		&:not(.router-link-active) {
			border-bottom: 0;
		}
	}
}

header .search-box {
	input {
		border-color: #000;
		border-radius: 0.5rem;
		background-color: #4B4B4B;

		&:focus {
			background-color: #fff;
		}

		&:not(.focused) {
			// so the icon appears centred input is mini
			background-position: 0.75rem 0.5rem;
		}
	}
}

@media (min-width: $MQNarrow) {
	header.navbar .links {
		input, .suggestions {
			width: 10em;
		}

		input:focus, .suggestions {
			width: 20em;
		}
	}
}

@media (min-width: $MQMobile) {
	header .search-box {
		margin-right: 0;

		input {
			left: 0;
		}
	}
}

@media (max-width: $MQMobile) {
	header.navbar .links {
		input {
			// prevent zooming on iOS
			box-sizing: border-box;
			font-size: 1rem;

			&:focus {
				width: calc(100vw - 3rem);
			}
		}
	}
}
